@keyframes robotJump {
    0%{ height: 101px;
        bottom: 102px;} 
    10%{height: 100px;
        bottom: 120px;}
    20%{
        height: 105px;
        bottom: 120px;
    }
    30%{height: 100px;
        bottom: 102px}
    40%{
        height: 90px;
        bottom: 102px;
    }
    50%{
        height: 100px;
        bottom: 102px;
    }
} 

.button-copy:hover {
    opacity: 90%;
}

.buttonAnimation {
    transition: width height opacity;
    transition-duration: 0.5s;
}
.buttonAnimation:hover {
    opacity: 99%;
    width: 209px;
    height: 74px;
}

@media screen and (max-width: 600px) {
    .buttonAnimation:hover {
        width: 165px;
        height: 63px;
    }
    @keyframes robotJump {
        0%{ height: 52px;
            bottom: 330px;} 
        10%{height: 50px;
            bottom: 340px;}
        20%{
            height: 53px;
            bottom: 340px;
        }
        30%{height: 50px;
            bottom: 330px}
        40%{
            height: 45px;
            bottom: 330px;
        }
        50%{
            height: 50px;
            bottom: 330px;
        }
    } 

}